<div class="main-content" id="detalle-organizacion">
  <div class="container-fluid">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="blue">
					<h4 class="card-title">{{organizacion.Nombre}}</h4>
					<p class="category">{{organizacion.Ruc}}</p>
				</div>
				<div class="card-content">

						<div>							
							<div class="row">
								<div class="col-xs-12">															
									<nav class="navbar navbar-info" role="navigation">
										<div class="container-fluid">
											<div class="navbar-header">
												<span class="navbar-brand">Contrato(s)</span>
											</div>
										</div>
									</nav>	
								</div>
							</div>

								<!-- Nav tabs -->
								<ul class="nav nav-tabs" style="background: #0079bf !important" role="tablist">
								  <li [ngClass]="{'hidden':!verificarTipoEmpresa('C')}" role="presentation" class="active"><a href="#comprador" aria-controls="comprador" role="tab" data-toggle="tab">Comprador</a></li>
								  <li [ngClass]="{'hidden':!verificarTipoEmpresa('P')}" role="presentation"><a href="#proveedor" aria-controls="proveedor" role="tab" data-toggle="tab">Proveedor</a></li>
								  <li [ngClass]="{'hidden':!verificarTipoEmpresa('F')}" role="presentation"><a href="#factor" aria-controls="factor" role="tab" data-toggle="tab">Financiera</a></li>
								</ul>
							  
								<!-- Tab panes -->
								<div class="tab-content">
								  <div role="tabpanel" class="tab-pane active" id="comprador">
									  <!-- INICIO COMPRADOR -->										
										<div class="row">
												<!-- Fecha inicio -->
												<div class="col-xs-12 col-sm-3 col-md-3">
													<div class="form-group label-floating">
															<label class="control-label">Fecha de inicio</label>
															<input type="text" name="fechacreacionfin" class="form-control" datepicker [(ngModel)]="contratoComprador.FechaInicio"/>
													</div>
												</div>
												<!-- Fecha fin -->
												<div class="col-xs-12 col-sm-3 col-md-3">
													<div class="form-group label-floating">
															<label class="control-label">Fecha de fin</label>
															<input type="text" name="fechacreacionfin" class="form-control" datepicker [(ngModel)]="contratoComprador.FechaFin"/>
													</div>
												</div>
												<!-- Usuarios -->
												<div class="col-xs-12 col-sm-3 col-md-3">
													<div class="form-group label-floating">
															<label class="control-label">Cantidad de usuarios</label>
															<input type="number" name="fechacreacionfin" value="1" min="1" max="99" class="form-control" [(ngModel)]="contratoComprador.CantidadUsuarios"/>
													</div>
												</div>
												<!-- Tipo -->
												<div class="col-xs-12 col-sm-3 col-md-3">
													<div class="form-group label-floating">
															<label class="control-label">Tipo de contrato</label>
															<select name="IdTipoContrato" class="form-control" data-style="select-with-transition" title="">
																<option *ngFor="let tipoContrato of tiposContratos" [ngValue]="tipoContrato.IdTipoContrato">{{tipoContrato.Nombre}}</option>
															</select>
													</div>
												</div>
												<div class="col-xs-12 text-center">
													<a class="btn btn-fill btn-default" [routerLink]="['/organizacion/adminebiz/buscar']">Volver</a>
													<button type="button" class="btn btn-default" (click)="guardarContratoComprador()">Guardar</button>
												</div>
												<div [ngClass]="{invisible: contratoComprador.IdContrato == ''}">
													<div class="col-xs-12">															
														<nav class="navbar navbar-info" role="navigation">
															<div class="container-fluid">
																<div class="navbar-header">
																	<span class="navbar-brand">Modulos - Comprador</span>
																</div>
															</div>
														</nav>	
													</div>

													<div class="col-xs-10 col-sm-10 col-md-10">																										
														<ng-container *ngFor="let moduloSeleccionado of modulosSeleccionadosComprador">
															<button class="btn btn-warning btn-xs">
																{{moduloSeleccionado.Descripcion}} 
															</button>
														</ng-container>
													</div>
													<div class="col-xs-2 col-sm-2 col-md-2">													
														<button class="btn btn-danger btn-just-icon btn-round" data-toggle="modal" data-target=".modal-contratodetalle-comprador">
															<i class="material-icons">edit</i>
														</button>
													</div>
												</div>

												<div [ngClass]="{invisible: modulosSeleccionadosComprador.length === 0}">
													<div class="col-xs-12">						
														<nav class="navbar navbar-info" role="navigation">
															<div class="container-fluid">
																<div class="navbar-header">
																	<span class="navbar-brand">Usuarios - Comprador</span>
																</div>
															</div>
														</nav>
													</div>

													<div class="col-sm-12">
														<div class="table-responsive">							
															<table class="table">
																<thead>
																	<tr>
																		<th class="text-center cursor-pointer" (click)="ordenarResultados('Rol')">Rol
																			<span [ngClass]="{'hidden':ordenar != 'Rol'}">
																				<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
																				<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
																			</span>
																		</th>
																		<th class="text-center cursor-pointer" (click)="ordenarResultados('Usuario')">Usuario
																			<span [ngClass]="{'hidden':ordenar != 'Usuario'}">
																				<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
																				<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
																			</span>
																		</th>
																		<th class="text-center cursor-pointer" (click)="ordenarResultados('NombreCompleto')">Apellidos y Nombres
																			<span [ngClass]="{'hidden':ordenar != 'NombreCompleto'}">
																				<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
																				<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
																			</span>
																		</th>
																		<th class="text-center">Acciones</th>
																	</tr>
																</thead>
																<tbody>
																	<div class="container-loading" [ngClass]="{invisible: loading}">
																		<div class="lds-ripple"><div></div><div></div></div>
																	</div>
																	<tr *ngFor="let usuarioXOrganizacion of usuariosXOrganizacionComprador">
																		<td class="text-center">{{ usuarioXOrganizacion.Rol }}</td>
																		<td>{{ usuarioXOrganizacion.Usuario }}</td>
																		<td>{{ usuarioXOrganizacion.NombreCompleto }}</td>
																		<td class="td-actions text-center">
																			<button rel="tooltip" type="button" class="btn btn-warning btn-round">
																				<i class="material-icons">trash</i>
																				<div class="ripple-container"></div>
																			</button>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>



												</div>
											</div>
											<!-- FIN COMPRADOR -->
											<!--
											<h5>Modulos - Comprador</h5>
											Modulo Comprador
											<ng-container *ngFor="let moduloDisponible of modulosDisponibles">
												<button 
												class="list-group-item" 
												[ngClass]="{'active':seleccionComprador(moduloDisponible), 'list-group-item-info':seleccionComprador(moduloDisponible)}"
												(click)="selecionarComprador(moduloDisponible)">
													{{moduloDisponible.Descripcion}} 
												</button>
											</ng-container>
											-->

									</div>
								  <div role="tabpanel" class="tab-pane" id="proveedor">
										<!-- INICIO PROVEEDOR -->
										<div class="row">
											<!-- Fecha inicio -->
											<div class="col-xs-12 col-sm-3 col-md-3">
												<div class="form-group label-floating">
														<label class="control-label">Fecha de inicio</label>
														<input type="text" name="fechacreacionfin" class="form-control" datepicker required [(ngModel)]="contratoProveedor.FechaInicio"/>
														<span class="material-icons form-control-feedback">clear</span>
												</div>
											</div>
											<!-- Fecha fin -->
											<div class="col-xs-12 col-sm-3 col-md-3">
												<div class="form-group label-floating">
														<label class="control-label">Fecha de fin</label>
														<input type="text" name="fechacreacionfin" class="form-control" datepicker [(ngModel)]="contratoProveedor.FechaFin"/>
												</div>
											</div>
											<!-- Usuarios -->
											<div class="col-xs-12 col-sm-3 col-md-3">
												<div class="form-group label-floating">
														<label class="control-label">Cantidad de usuarios</label>
														<input type="number" name="fechacreacionfin" value="1" min="1" max="99" class="form-control" [(ngModel)]="contratoProveedor.CantidadUsuarios"/>
												</div>
											</div>
											<!-- Tipo -->
											<div class="col-xs-12 col-sm-3 col-md-3">
												<div class="form-group label-floating">
														<label class="control-label">Tipo de contrato</label>
														<select name="IdTipoContrato" class="form-control" data-style="select-with-transition" title="">
															<option *ngFor="let tipoContrato of tiposContratos" [ngValue]="tipoContrato.IdTipoContrato">{{tipoContrato.Nombre}}</option>
														</select>
												</div>
											</div>
											<div class="col-xs-12 text-center">
												<a class="btn btn-fill btn-default" [routerLink]="['/organizacion/adminebiz/buscar']">Volver</a>
												<button type="button" class="btn btn-default" (click)="guardarContratoProveedor()">Guardar</button>
											</div>
											<div [ngClass]="{invisible: contratoProveedor.IdContrato == ''}">
												<div class="col-xs-12">															
													<nav class="navbar navbar-info" role="navigation">
														<div class="container-fluid">
															<div class="navbar-header">
																<span class="navbar-brand">Modulos - Proveedor</span>
															</div>
														</div>
													</nav>	
												</div>
												<div class="col-xs-10 col-sm-10 col-md-10">											
													<ng-container *ngFor="let moduloSeleccionado of modulosSeleccionadosProveedor">
														<button class="btn btn-warning btn-xs">
															{{moduloSeleccionado.Descripcion}} 
														</button>
													</ng-container>
												</div>
												<div class="col-xs-2 col-sm-2 col-md-2">													
													<button class="btn btn-danger btn-just-icon btn-round" data-toggle="modal" data-target=".modal-contratodetalle-proveedor">
														<i class="material-icons">edit</i>
													</button>
												</div>
											</div>

										</div>
										<!-- FIN PROVEEDOR -->
										<!--<h5>Modulos - Proveedor</h5>
										Modulo Proveedor
										<ng-container *ngFor="let moduloDisponible of modulosDisponibles">
											<button 
											class="list-group-item" 
											[ngClass]="{'active':seleccionProveedor(moduloDisponible), 'list-group-item-info':seleccionProveedor(moduloDisponible)}"
											(click)="selecionarProveedor(moduloDisponible)">
												{{moduloDisponible.Descripcion}} 
											</button>
										</ng-container>
										-->
									</div>
								  <div role="tabpanel" class="tab-pane" id="factor">
										<!-- INICIO FACTOR -->
										<div class="row">
											<!-- Fecha inicio -->
											<div class="col-xs-12 col-sm-3 col-md-3">
												<div class="form-group label-floating">
														<label class="control-label">Fecha de inicio</label>
														<input type="text" name="fechacreacionfin" class="form-control" datepicker [(ngModel)]="contratoFactor.FechaInicio"/>
												</div>
											</div>
											<!-- Fecha fin -->
											<div class="col-xs-12 col-sm-3 col-md-3">
												<div class="form-group label-floating">
														<label class="control-label">Fecha de fin</label>
														<input type="text" name="fechacreacionfin" class="form-control" datepicker [(ngModel)]="contratoFactor.FechaFin"/>
												</div>
											</div>
											<!-- Usuarios -->
											<div class="col-xs-12 col-sm-3 col-md-3">
												<div class="form-group label-floating">
														<label class="control-label">Cantidad de usuarios</label>
														<input type="number" name="fechacreacionfin" value="1" min="1" max="99" class="form-control" [(ngModel)]="contratoFactor.CantidadUsuarios"/>
												</div>
											</div>
											<!-- Tipo -->
											<div class="col-xs-12 col-sm-3 col-md-3">
												<div class="form-group label-floating">
														<label class="control-label">Tipo de contrato</label>
														<select name="IdTipoContrato" class="form-control" data-style="select-with-transition" title="">
															<option *ngFor="let tipoContrato of tiposContratos" [ngValue]="tipoContrato.IdTipoContrato">{{tipoContrato.Nombre}}</option>
														</select>
												</div>
											</div>
											<div class="col-xs-12 text-center">
												<a class="btn btn-fill btn-default" [routerLink]="['/organizacion/adminebiz/buscar']">Volver</a>
												<button type="button" class="btn btn-default" (click)="guardarContratoFactor()">Guardar</button>
											</div>
											<div [ngClass]="{invisible: contratoFactor.IdContrato == ''}">
												<div class="col-xs-12">															
													<nav class="navbar navbar-info" role="navigation">
														<div class="container-fluid">
															<div class="navbar-header">
																<span class="navbar-brand">Modulos - Financiera</span>
															</div>
														</div>
													</nav>	
												</div>
												<div class="col-xs-10 col-sm-10 col-md-10">										
													<ng-container *ngFor="let moduloSeleccionado of modulosSeleccionadosFactor">
														<button class="btn btn-warning btn-xs">
															{{moduloSeleccionado.Descripcion}} 
														</button>
													</ng-container>
												</div>
												<div class="col-xs-2 col-sm-2 col-md-2">													
													<button class="btn btn-danger btn-just-icon btn-round" data-toggle="modal" data-target=".modal-contratodetalle-factor">
														<i class="material-icons">edit</i>
													</button>
												</div>
											</div>
											

										</div>
										<!-- FIN FACTOR -->
										<!--<h5>Modulos - Factor</h5>
										Modulo Factor
										<ng-container *ngFor="let moduloDisponible of modulosDisponibles">
											<button 
											class="list-group-item" 
											[ngClass]="{'active':seleccionFactor(moduloDisponible), 'list-group-item-info':seleccionFactor(moduloDisponible)}"
											(click)="selecionarFactor(moduloDisponible)">
												{{moduloDisponible.Descripcion}} 
											</button>
										</ng-container>
										-->
									</div>
								</div>
							</div>

				</div>
			</div>
		</div>	

		
	</div>
</div>



<!-- MODAL MODULOS CONTRATODETALLE Comprador -->
<div id="modal-contratodetalle-comprador" class="modal fade modal-contratodetalle-comprador" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Modulos - Comprador</h4>
			</div>
			<div class="modal-body">
				<ng-container *ngFor="let moduloDisponible of modulosDisponibles">
					<button 
					class="list-group-item" 
					[ngClass]="{'active':seleccionComprador(moduloDisponible), 'list-group-item-info':seleccionComprador(moduloDisponible)}"
					(click)="selecionarComprador(moduloDisponible)">
						{{moduloDisponible.Descripcion}} 
					</button>
				</ng-container>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secundary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-default" (click)="guardarContratoDetalleComprador()">Guardar</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL MODULOS CONTRATODETALLE Proveedor -->
<div id="modal-contratodetalle-proveedor" class="modal fade modal-contratodetalle-proveedor" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Modulos - Comprador</h4>
			</div>
			<div class="modal-body">
				<ng-container *ngFor="let moduloDisponible of modulosDisponibles">
					<button 
					class="list-group-item" 
					[ngClass]="{'active':seleccionProveedor(moduloDisponible), 'list-group-item-info':seleccionProveedor(moduloDisponible)}"
					(click)="selecionarProveedor(moduloDisponible)">
						{{moduloDisponible.Descripcion}} 
					</button>
				</ng-container>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secundary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-default" (click)="guardarContratoDetalleProveedor()">Guardar</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL MODULOS CONTRATODETALLE Comprador -->
<div id="modal-contratodetalle-factor" class="modal fade modal-contratodetalle-factor" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Modulos - Comprador</h4>
			</div>
			<div class="modal-body">
				<ng-container *ngFor="let moduloDisponible of modulosDisponibles">
					<button 
					class="list-group-item" 
					[ngClass]="{'active':seleccionFactor(moduloDisponible), 'list-group-item-info':seleccionFactor(moduloDisponible)}"
					(click)="selecionarFactor(moduloDisponible)">
						{{moduloDisponible.Descripcion}} 
					</button>
				</ng-container>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secundary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-default" (click)="guardarContratoDetalleFactor()">Guardar</button>
			</div>
		</div>
	</div>
</div>