<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <form method="#" action="#">
                        <div class="card-header card-header-text" data-background-color="blue">
                            <h4 class="card-title">Buscar Cotizaciones</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">N° Cotización</label>
                                        <input [(ngModel)]="filtro.nseguimiento" name="nseguimiento" type="text" class="form-control" pattern="^[0-9]+" maxlength="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">N° Solicitud de Cotizaciones</label>
                                        <input [(ngModel)]="filtro.nsolicitud" name="nsolicitud" type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Estado</label>
                                        <select name="estado" [(ngModel)]="filtro.estado" class="form-control">
                                            <option disabled="" selected="">TODOS</option>
                                            <option value="En Proceso"> En Proceso </option>
                                            <option value="Por Modificar"> Por Modificar </option>
                                            <option value="En Ejecución"> En Ejecución </option>
                                            <option value="Anulada"> Anulada </option>
                                            <option value="Culminado"> Culminado </option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Fecha Enviado Del</label>
                                        <input type="text" [(ngModel)]="filtro.fechainicio" name="fechainicio" class="form-control" datepicker />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">al</label>
                                        <input type="text" class="form-control"[(ngModel)]="filtro.fechafin" name="fechafin" datepicker />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <button class="btn btn-default" (click)="clicked($event)">Buscar</button>
                                        <button class="btn btn-default" (click)="limpiar($event)">Limpiar</button>
                                    </div>
                                </div>
                            </div>
                            <nav class="navbar navbar-info" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-header">

                                        <span class="navbar-brand">Resultados</span>
                                    </div>
                                </div>
                            </nav>
                            <div class="material-datatables table-responsive">
                                <table id="dtResultados" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>

                                            <th>N° Cotización</th>
                                            <th>Organización Proveedora</th>
                                            <th>Usuario Proveedor</th>
                                            <th>Estado</th>
                                            <th>Fecha Creación</th>
                                            <th>Versión</th>
                                            <th>OC</th>
                                            <th class="disabled-sorting text-center">Acciones</th>
                                        </tr>
                                    </thead>


                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>