<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header card-header-text" data-background-color="blue">
						<h4 class="card-title">Buscar Módulos</h4>
					</div>
					<div class="card-content">
						<form #m="ngForm" (ngSubmit)="buscarModulo(m)" novalidate autocomplete="off">
							<div class="row">
								<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
									<div class="form-group label-floating">
										<label class="control-label">Código de módulo</label>
										<input pattern="[A-Za-z0-9-]{0,10}" maxlength="10" name="CodigoModulo" ngModel #CodigoModulo="ngModel" type="text" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
									<div class="form-group label-floating">
										<label class="control-label">Siglas</label>
										<input pattern="[A-Za-z0-9-]{0,3}" maxlength="3" name="Mini" ngModel #Mini="ngModel" type="text" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
									<div class="form-group label-floating">
										<label class="control-label">Nombre de módulo</label>
										<input pattern="[A-Za-zñÑáÁéÉíÍóÓúÚ0-9-. ]{0,50}" maxlength="50" name="Descripcion" ngModel #Descripcion="ngModel" type="text" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
									<div class="form-group">
										<button class="btn btn-default">Buscar</button>
										<button type="button" class="btn btn-default" (click)="reset(m)">Limpiar</button>
									</div>
								</div>
							</div>
						</form>	

						<nav class="navbar navbar-info" role="navigation">
							<div class="container-fluid">
								<div class="navbar-header">
									<span class="navbar-brand" >Resultados</span>
								</div>
							</div>
						</nav>
						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 text-left">
							<div class="form-group label-floating">
								<label class="control-label">Mostrar</label>
								<select class="form-control" data-style="select-with-transition" title="" [(ngModel)]="mostrar" (change)="cambiarResultadosMostrar()">
									<option *ngFor="let mostrarResultado of mostrarResultados" [ngValue]="mostrarResultado">{{mostrarResultado}}</option>
								</select>
								<span class="material-input"></span>
							</div>
						</div>
						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 text-left">
							<br>
							<div class="togglebutton">
								<label>
									<input type="checkbox" [(ngModel)]="editarOrden">Orden
								</label>
							</div>
						</div>
						<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-right hidden-xs">
							<button class="btn btn-success btn-sm" (click)="verificarSeleccionCambioEstadoIds('ACTIV')">Activar</button>
							<button class="btn btn-danger btn-sm" (click)="verificarSeleccionCambioEstadoIds('INACT')">Desactivar</button>
							<a class="btn btn-default btn-sm" [routerLink]="['/modulo/adminebiz/formulario', 'nuevo']">Crear</a>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="table-responsive">							
								<table class="table">
									<thead>
										<tr>
											<th class="td-actions text-center">
												<div class="checkbox">
													<label>
														<input id="seleccionar-todos" type="checkbox" (click)="seleccionarTodosRegistros($event.toElement.checked)">
													</label>
												</div>
											</th>
											<th class="text-center cursor-pointer" (click)="ordenarResultados('CodigoModulo')">Código de módulo
												<span [ngClass]="{'hidden':ordenar != 'CodigoModulo'}">
													<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
													<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
												</span>
											</th>
											<th class="text-center cursor-pointer" (click)="ordenarResultados('Descripcion')">Nombre de módulo
												<span [ngClass]="{'hidden':ordenar != 'Descripcion'}">
													<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
													<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
												</span>
											</th>
											<th class="text-center cursor-pointer" (click)="ordenarResultados('Mini')">Siglas
												<span [ngClass]="{'hidden':ordenar != 'Mini'}">
													<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
													<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
												</span>
											</th>
											<th class="text-center cursor-pointer" (click)="ordenarResultados('Orden')">Orden
												<span [ngClass]="{'hidden':ordenar != 'Orden'}">
													<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
													<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
												</span>
											</th>
											<th class="text-center cursor-pointer" (click)="ordenarResultados('Estado')">Estado 															
												<span [ngClass]="{'hidden':ordenar != 'Estado'}">
													<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 1}">arrow_drop_down</i>
													<i class="material-icons" [ngClass]="{'hidden':ordenarCount != 2}">arrow_drop_up</i>
												</span>
											</th>
											<th class="text-center">Acciones</th>
										</tr>
									</thead>
									<tbody>
										<div class="container-loading" [ngClass]="{invisible: loading}">
											<div class="lds-ripple"><div></div><div></div></div>
										</div>
										<tr *ngFor="let modulo of modulos" [ngClass]="{'danger':modulo.Estado == 'INACT'}">
											<td class="text-center">
												<div class="checkbox">
													<label>
														<input type="checkbox" [value]="modulo.IdModulo">
													</label>
												</div>
											</td>
											<td class="text-center">{{modulo.CodigoModulo}}</td>
											<td>{{ modulo.Descripcion }}</td>
											<td class="text-center">{{ modulo.Mini }}</td>
											<td class="text-center">
												<div class="form-group label-floating text-center" style="margin:0px; padding:0px;">
													<input [id]="modulo.IdModulo" [disabled]="!editarOrden" name="Orden" [value]="modulo.Orden" ng-reflect-value="modulo.Orden" style="width:60px; margin:0px; padding:0px; margin: auto;" type="number" class="form-control text-center" 
													(keyup.enter)="actualizarOrden(modulo, modulo.IdModulo)">
												</div>
											</td>
											<td class="text-center">
												<div *ngIf="modulo.Estado == 'ACTIV'">Activado</div>
												<div *ngIf="modulo.Estado == 'INACT'">Desactivado</div>
											</td>
											<td class="td-actions text-center">
												<button rel="tooltip" type="button" class="btn btn-default btn-round" [routerLink]="['/modulo/adminebiz/formulario', modulo.IdModulo]" title="Ver/Editar">
													<i class="material-icons">visibility</i>
													<div class="ripple-container"></div>
												</button>
												<button rel="tooltip" type="button" class="btn btn-danger btn-round" (click)="confimarInhabilitarModulo(modulo)" title="Eliminar">
													<i class="material-icons">clear</i>
													<div class="ripple-container"></div>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
							<ul class="pagination">
								<li class="paginate_button first" [ngClass]="{invisible: paginaSeleccionada === 0}" (click)="selecionarPagina(0)">
									<a class="page-link">&lt;&lt;
										<div class="ripple-container"></div>
									</a>
								</li>
								<li class="paginate_button previous" [ngClass]="{invisible: paginaSeleccionada === 0}" (click)="selecionarPagina(paginaSeleccionada - 1)">
									<a class="page-link">&lt;
										<div class="ripple-container"></div>
									</a>
								</li>
								<ng-container *ngFor="let pagina of paginas">
									<li class="paginate_button page-item" [ngClass]="{active: paginaSeleccionada === pagina}" (click)="selecionarPagina(pagina)">
										<a class="page-link">{{ pagina + 1 }}</a>
									</li>
								</ng-container>
								<li class="paginate_button next" [ngClass]="{invisible: paginaSeleccionada === (paginas.length - 1)}" (click)="selecionarPagina(paginaSeleccionada + 1)">
									<a class="page-link">&gt;
										<div class="ripple-container"></div>
									</a>
								</li>
								<li class="paginate_button last" [ngClass]="{invisible: paginaSeleccionada === (paginas.length - 1)}" (click)="selecionarPagina(paginas.length - 1)">
									<a class="page-link">&gt;&gt;
										<div class="ripple-container"></div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Confirmacion - Activar Grupo Empresarial -->

<div id="confirmar-activar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Aviso</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">¿Desea activar los modulos seleccionados?</div>
            </div>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secundary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-default" (click)="cambiarEstadoSelecionados('ACTIV')">Aceptar</button>
          </div>
        </div>
    </div>
</div>

<!-- Confirmacion - Desactivar Grupo Empresarial -->

<div id="confirmar-desactivar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Aviso</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">¿Desea desactivar los modulos seleccionados?</div>
            </div>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secundary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-default" (click)="cambiarEstadoSelecionados('INACT')">Aceptar</button>
          </div>
        </div>
    </div>
</div>


<!-- Confirmacion - Inhabilitar Grupo Empresarial -->

<div id="confirmar-inhabilitar" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">Aviso</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">¿Desea eliminar modulo: <b>{{moduloHabilitado.Descripcion}}</b>?</div>
				</div>            
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secundary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-default" (click)="inhabilitarModulo()">Aceptar</button>
			</div>
		</div>
	</div>
</div>
	


<div id="container-floating" class="visible-xs-block">                  
	<div class="fab-ebiz-numner4 fab-ebiz hidden">
	</div>
	<div class="fab-ebiz-numner3 fab-ebiz" style="background: #4caf50" (click)="verificarSeleccionCambioEstadoIds('ACTIV')">
		<p class="fab-ebiz-letter"><i class="material-icons" title="Activar módulo">done</i></p>
	</div>
	<div class="fab-ebiz-numner2 fab-ebiz" style="background: #f44336" (click)="verificarSeleccionCambioEstadoIds('INACT')">
		<p class="fab-ebiz-letter"><i class="material-icons" title="Desactivar módulo">remove</i></p>
	</div>
	<div class="fab-ebiz-numner1 fab-ebiz" style="background: #2399e5">
		<p class="fab-ebiz-letter"><i class="material-icons" title="Crear módulo" [routerLink]="['/modulo/adminebiz/formulario', 'nuevo']">add</i></p>
	</div>                  
	<div id="floating-button">
		<p class="fab-ebiz-plus"><i class="material-icons">scatter_plot</i></p>
		<img class="fab-ebiz-edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
	</div>                  
</div>