div.sdmenu {
	width: 180px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	padding-bottom: 10px;
	position:absolute;
	top:1px;
	left:1px;
	background: url('../images/bottom.gif') no-repeat  right bottom;
	color: #FFFFFF;
	padding-left: 0px;
}
div.sdmenu div {
	background: #3C5F84 repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url('../images/toptitle.gif') no-repeat;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
/*top, right , bottom, left*/
	padding: 5px 10px 5px 22px;
/*top bottom, right left*/
	/*padding: 5px 22px;*/
	font-weight: bold;
	color: #FFFFFF;
	background: url('../images/expanded.gif') no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url('../images/collapsed.gif');
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #C8D7E3;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #3C5F84;
	text-decoration: none;
	font-weight: bold;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	background : #C8D7E3 url('../images/linkarrow.gif') no-repeat right center;
	color: #3C5F84;
}