	#imageSlideshowHolder{
	/* This is a CSS hack in order to get a nice look in IE 5.5 and lower 

		In these versions of Internet Explorer, we need to add borders and padding to the width. In this example, we have a 3 pixel
		border on all sides. This means that the width in IE5.5 should be 606 pixels(600 + border 3px on the left + border 3 px on the right). Height
		should be set to 456 pixels(450 + 3 +3). IE 5.5 will ignore the width attributes below the first line. These will be applied to other browsers.

		*/
		/* CSS HACK */
		width: 546px;	/* IE 5.x */
	width/* */:/**/540x;	/* Other browsers */
	width: /**/540px;
	/* CSS HACK */
		height: 486px;	/* IE 5.x */
	height/* */:/**/480px;	/* Other browsers */
	height: /**/480px;

	position:relative;	/* Never change this value */
		
	}
	.imageInGallery{		
		width:540px;
		height:480px;

		
		/* Never change these 3 value */
		left:0px;
		top:0px;
		position:absolute;
	
	}
	#imageSlideshowHolder img{
		position:absolute;
	}
	
	/*chris - description overlay*/
	#the_captions{
		display:none;
		
		}
	.imageInGallery_DESC{
	position:absolute;
	color:#FFFFFF;
	padding: 20px 20px 0 20px;
	margin-left:190px;
	margin-top:370px;
	/*height:200px;*/
	width:320px;
	background:url("../images/bg.png");
	font-family:Tahoma, small, arial;
	color:#FFFFFF;
	font-size:12px;
	text-align:left;
	
		}
	.imageInGallery_DESC h1{
	font-family:"lucida sans", small, arial;
	color:#FFFFFF;
	font-size:18px;;
	margin:0px;
	padding:0px 0px 5px 0px;
		}
