<div class="main-content">
    <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="blue" id="wizardProfile">
                    <form action="" method=""  >
                        <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                Recupera los datos de tu cuenta
                            </h3>
                        </div>
                        <div class="wizard-navigation">
                            <ul>
                                <li >
                                    <a href="#about" data-toggle="tab" >Paso 1</a>
                                </li>
                                <li >
                                    <a href="#account" data-toggle="tab" >Paso 2</a>
                                </li>

                                <!--
                                <li >
                                    <a href="#account2" data-toggle="tab" >Paso 3</a>
                                </li>
                                -->

                                <li >
                                    <a href="#address" data-toggle="tab" >Paso 3</a>
                                </li>

                                
                                <li >
                                    <a href="#address2" data-toggle="tab" >Paso 4</a>
                                </li>   
                            

                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="about">
                                <div class="row">
                                    <h4 class="info-text"> Indica el dato de acceso que necesitas recuperar y la vía de recuperación. </h4>
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons" item-width="15px" item-height="15px">email</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Recuperar
                                                    <small>(required)</small>
                                                </label>
                                                <select  id="recuperar" class="form-control" name="datoRecuperar" [(ngModel)]="datoRecuperar">
                                                    <option value="contrasenia" >Contraseña</option>
                                                    <option value="usuario" >Usuario</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">phone</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Via
                                                    <small>(required)</small>
                                                </label>
                                                <!--<input name="lastname" type="text" class="form-control">-->
                                                <select  id="recuperar2" class="form-control" name="viaRecuperacion" [(ngModel)]="viaRecuperacion">
                                                    <option value="email">Correo electrónico</option>
                                                    <option value="sms">Teléfono Móvil</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="account">
                                <h4 class="info-text" *ngIf="datoRecuperar=='usuario' && viaRecuperacion=='email'">Ingrese su cuenta de correo electrónico</h4>
                                <h4 class="info-text" *ngIf="datoRecuperar=='usuario' && viaRecuperacion=='sms'">Ingrese su número de teléfono móvil</h4>                             
                                <div class="row" *ngIf="datoRecuperar=='usuario'">
                                        <div class="col-md-4 col-md-offset-4">
                                            <div class="choice" data-toggle="wizard-checkbox">
                                                <input type="checkbox" name="jobb" value="Design">
                                                <div class="icon">
                                                    <i class="fa fa-laptop"></i>
                                                </div>
                                                                                          
                                                <!--
                                                <h6>Correo electrónico o número de teléfono móvil</h6>
                                                -->
                                                <div class="form-group label-floating">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <h4 class="info-text" *ngIf="datoRecuperar=='contrasenia'">Ingrese su nombre de usuario</h4>
                                <div class="row" *ngIf="datoRecuperar=='contrasenia'">
                                    <div class="col-md-4 col-md-offset-4" >
                                        <div class="choice" data-toggle="wizard-checkbox">
                                            <input type="checkbox" name="jobb" value="Code">
                                            <div class="icon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <!--
                                            <h6>Nombre de usuario</h6>
                                            -->
                                            <div class="form-group label-floating">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>



                            <!--
                            <div class="tab-pane" id="account2">
                                <div class="row" *ngIf="viaRecuperacion=='email'">
                                    <div class="col-sm-12">
                                        <h4 class="info-text">Seleccione el correo donde recibirá un enlace para restablecer su contraseña.</h4>
                                    </div>
                                </div>
                                <div class="row" *ngIf="viaRecuperacion=='email'">   
                                    <div class="col-md-6 col-md-offset-3">
                                        <ul class="radio">
                                            <label style="color:#8c8b8a;font-weight: bolder;"> gg****@hot****.com
                                                <input type="radio" [checked]=""  (change)="onEsMaterialChange($event)" name="optionCheckboxes" >
                                            </label>
                                            <br>
                                            <br>
                                            <label style="color:#8c8b8a;font-weight: bolder;">  gg****@hot****.com
                                                <input type="radio"  [checked]=""  (change)="onEsHasChange($event)" name="optionCheckboxes">
                                            </label>
                                            <br>
                                            <br>
                                            <label style="color:#8c8b8a;font-weight: bolder;">  gg****@hot****.com
                                                <input type="radio"  [checked]=""  (change)="onEsHasChange($event)" name="optionCheckboxes">
                                            </label>
                                        </ul>
                                        
                                        <p>*Recibira un link a su correo para el cambio de su contraseña </p>
                                    
                                    </div>
                                </div>

                                <div class="row" *ngIf="viaRecuperacion=='sms'">
                                    <div class="col-sm-12">
                                        <h4 class="info-text">Seleccione el número de teléfono móvil donde recibirá un código de verificación.</h4>
                                    </div>
                                </div>
                                <div class="row" *ngIf="viaRecuperacion=='sms'">   
                                    <div class="col-md-6 col-md-offset-4">
                                        <ul class="radio">
                                            <label style="color:#8c8b8a;font-weight: bolder;">98******5
                                                <input type="radio" [checked]=""  (change)="onEsMaterialChange($event)" name="optionCheckboxes" >
                                            </label>
                                            <br>
                                            <br>
                                            <label style="color:#8c8b8a;font-weight: bolder;">96******2
                                                <input type="radio"  [checked]=""  (change)="onEsHasChange($event)" name="optionCheckboxes">
                                            </label>
                                            <br>
                                            <br>
                                            <label style="color:#8c8b8a;font-weight: bolder;">99******7
                                                <input type="radio"  [checked]=""  (change)="onEsHasChange($event)" name="optionCheckboxes">
                                            </label>
                                        </ul>
                                        
                                        <p>*Recibira un link a su correo para el cambio de su contraseña </p>
                                    
                                    </div>
                                </div>
                            </div>
                        -->





                            <div class="tab-pane" id="address">
                                <!--
                                <div class="row"  *ngIf="viaRecuperacion=='email'">
                                    <div class="col-sm-12">
                                        <h4 class="info-text">AVISO</h4>
                                    </div>
                                </div>
                                <div class="row" *ngIf="viaRecuperacion=='email' && datoRecuperar=='contrasenia'">
                                    <div class="col-md-6 col-md-offset-3 text-center">
                                        <p>Se ha enviado un email con un enlace de recuperación a la dirección de correo electrónico seleccionada.</p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="viaRecuperacion=='email' && datoRecuperar=='usuario'">
                                    <div class="col-md-6 col-md-offset-3 text-center">
                                        <p>Se ha enviado un email con su nombre de usuario a la dirección de correo electrónico seleccionada.</p>
                                    </div>
                                </div>
                                -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                                        <h4 class="info-text" *ngIf="datoRecuperar=='usuario' && viaRecuperacion=='email'" >Ingrese el código de verificación enviado a la cuenta de correo electrónico ingresada.</h4>
                                        <h4 class="info-text" *ngIf="datoRecuperar=='usuario' && viaRecuperacion=='sms'" >Ingrese el código de verificación enviado al número de teléfono móvil ingresado.</h4>
                                        <h4 class="info-text" *ngIf="datoRecuperar=='contrasenia' && viaRecuperacion=='email'">Ingrese el código de verificación enviado a su cuenta de correo electrónico registrada.</h4>
                                        <h4 class="info-text" *ngIf="datoRecuperar=='contrasenia' && viaRecuperacion=='sms'">Ingrese el código de verificación enviado a su número de teléfono móvil registrado.</h4>
                                    </div>                                    
                                    <div class="col-sm-12 col-md-6 col-md-offset-3 text-center ">
                                        <input type="text" class="form-control">
                                    </div>                                      
                                </div>
                                <!--
                                <div class="row" *ngIf="viaRecuperacion=='sms'">
                                    <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                                        <h4 class="info-text" *ngIf="datoRecuperar=='contrasenia' && viaRecuperacion=='sms'" >Ingrese el código de verificación enviado al número de teléfono móvil ingresado.</h4>
                                    </div>                                    
                                    <div class="col-sm-12 col-md-6 col-md-offset-3 text-center ">
                                        <input type="text" class="form-control">
                                    </div>                                    
                                </div>
                                -->
                            </div>



                            <div class="tab-pane" id="address2" >   
                                    <div class="row" *ngIf="viaRecuperacion=='sms'">
                                        <div class="col-sm-12">
                                            <h4 class="info-text">Verificación exitosa</h4>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="viaRecuperacion=='sms' && datoRecuperar=='contrasenia'">
                                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Nueva contraseña</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>   
                                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Confirmar contraseña</label>
                                                <input type="text" class="form-control">
                                            </div>                                                
                                        </div>   
                                    </div>
                                    <div class="row" *ngIf="viaRecuperacion=='sms' && datoRecuperar=='usuario'">
                                        <div class="col-md-6 col-md-offset-3 text-center">
                                            <p>Su nombre de usuario es <b>atafur</b></p>
                                        </div>
                                        <div class="col-md-6 col-md-offset-3 text-center">
                                            <p>Ir a ventana de autenticación</p>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="viaRecuperacion=='email'">
                              
                                    </div>                                    
                            </div>
                        </div>
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-blue btn-wd' name='Siguiente' value='Siguiente'/>
                                <input (click)="enviarDatos($event)" type='button' class='btn btn-finish btn-fill btn-blue btn-wd' name='Enviar' value='Enviar' />
                            </div>
                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='Anterior' value='Anterior' />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- wizard container -->
        </div>
    </div>
</div>