<div class="main-content" id="crear-organizacion">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="blue">
                    <h4 class="card-title">Asignar Accesos a Organización</h4>
                </div>            
                <div class="card-content">            
                            <div class="row">
                                <br>
                                <div class="col-md-4 col-sm-12">
                                  <div class="form-group label-floating  is-empty" >
                                      <label class="control-label">Nombre<span class="star">*</span></label>
                                      <input type="text" class="form-control">
                                      <span class="material-icons form-control-feedback">done</span>
                                  </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group label-floating " >
                                          <label class="control-label">RUC<span class="star">*</span></label>
                                          <input type="text" class="form-control">
                                      </div>                
                                </div>
                            </div>     
      
                            <br>
      
                          <div class="card">
                                  <h6 class=" card-header-text card-header card-title" data-background-color="blue">
                                          <i class="fa fa-file-text" style="font-size:28px;color:#fff"></i>  
                                          <div class="checkbox" style="display:inline-block;">
                                                  <label>
                                                      <input type="checkbox" name="optionsCheckboxes" style="background-color:#fff;border:1px solid #fff;">
                                                  </label>
                                          </div>
                                      Orden de Compra</h6>
                              <div class="row">
                                  <div class="col-md-10">
                                      <div class="card-content">
                                              <ul class="list-unstyled ">
                                                  <li  class="col-md-5 col-md-offset-1" style="font-size:28px;color:#0079bf">
                                                      <div class="form-group">
                                                          <div class="checkbox">
                                                              <label>
                                                                  <input type="checkbox" name="optionsCheckboxes">COMPRADOR
                                                              </label>
                                                          </div>
                                                          <ul>
                                                              <li>
                                                                  <div class="checkbox" style="display:inline-block;">
                                                                      <label>
                                                                          <input type="checkbox" name="optionsCheckboxes">
                                                                      </label>
                                                                  </div>
                                                                  <label>Buscar</label>
                                                              </li>
                                                              <li>
                                                                  <div class="checkbox" style="display:inline-block;">
                                                                      <label>
                                                                          <input type="checkbox" name="optionsCheckboxes">
                                                                      </label>
                                                                  </div>
                                                                  <label>Ver</label>
                                                              </li>
                                                              <li>
                                                                  <div class="checkbox" style="display:inline-block;">
                                                                      <label>
                                                                          <input type="checkbox" name="optionsCheckboxes">
                                                                      </label>
                                                                  </div>
                                                                  <label>Crear</label>
                                                              </li>
                                                              <li>
                                                                  <div class="checkbox" style="display:inline-block;">
                                                                      <label>
                                                                          <input type="checkbox" name="optionsCheckboxes">
                                                                      </label>
                                                                  </div>
                                                                  <label>Imprimir</label>
                                                              </li>
                                                          </ul>
                                                      </div>
                                                  </li>
      
                                                  <li  class="col-md-5" style="font-size:28px;color:#0079bf">
                                                          <div class="form-group">
                                                              <div class="checkbox">
                                                                  <label>
                                                                      <input type="checkbox" name="optionsCheckboxes">PROVEEDOR
                                                                  </label>
                                                              </div>
                                                              <ul>
                                                                  <li>
                                                                      <div class="checkbox" style="display:inline-block;">
                                                                          <label>
                                                                              <input type="checkbox" name="optionsCheckboxes">
                                                                          </label>
                                                                      </div>
                                                                      <label>Buscar</label>
                                                                  </li>
                                                                  <li>
                                                                      <div class="checkbox" style="display:inline-block;">
                                                                          <label>
                                                                              <input type="checkbox" name="optionsCheckboxes">
                                                                          </label>
                                                                      </div>
                                                                      <label>Ver</label>
                                                                  </li>
                                                                  <li>
                                                                      <div class="checkbox" style="display:inline-block;">
                                                                          <label>
                                                                              <input type="checkbox" name="optionsCheckboxes">
                                                                          </label>
                                                                      </div>
                                                                      <label>Imprimir</label>
                                                                  </li>
                                                              </ul>
                                                          </div>
                                                      </li>
                                                  
                                              </ul>
                                        </div>    
                                  </div>
                              </div>         
                          </div>
                          
                          <div class="card">
                              <h6 class=" card-header-text card-header" data-background-color="blue">
                                      <i class="fa fa-file-text" style="font-size:28px;color:#fff"></i>  
                                          <div class="checkbox" style="display:inline-block;">
                                                  <label>
                                                      <input type="checkbox" name="optionsCheckboxes">
                                                  </label>
                                          </div>
                                  GUÍAS</h6>
                                  <div class="row">
                                      <div class="col-md-10">
                                          <div class="card-content">
                                              
                                                  <ul class="list-unstyled ">
                                                      <li  class="col-md-5 col-md-offset-1" style="font-size:28px;color:#0079bf">
                                                          <div class="form-group">
                                                              <div class="checkbox">
                                                                  <label>
                                                                      <input type="checkbox" name="optionsCheckboxes">COMPRADOR
                                                                  </label>
                                                              </div>
                                                              <ul>
                                                                  <li>
                                                                      <div class="checkbox" style="display:inline-block;">
                                                                          <label>
                                                                              <input type="checkbox" name="optionsCheckboxes">
                                                                          </label>
                                                                      </div>
                                                                      <label>Buscar</label>
                                                                  </li>
                                                                  <li>
                                                                      <div class="checkbox" style="display:inline-block;">
                                                                          <label>
                                                                              <input type="checkbox" name="optionsCheckboxes">
                                                                          </label>
                                                                      </div>
                                                                      <label>Ver</label>
                                                                  </li>
                                                                  <li>
                                                                      <div class="checkbox" style="display:inline-block;">
                                                                          <label>
                                                                              <input type="checkbox" name="optionsCheckboxes">
                                                                          </label>
                                                                      </div>
                                                                      <label>Imprimir</label>
                                                                  </li>
                                                              </ul>
                                                          </div>
                                                      </li>
          
                                                      <li  class="col-md-5" style="font-size:28px;color:#0079bf">
                                                              <div class="form-group">
                                                                  <div class="checkbox">
                                                                      <label>
                                                                          <input type="checkbox" name="optionsCheckboxes">PROVEEDOR
                                                                      </label>
                                                                  </div>
                                                                  <ul>
                                                                      <li>
                                                                          <div class="checkbox" style="display:inline-block;">
                                                                              <label>
                                                                                  <input type="checkbox" name="optionsCheckboxes">
                                                                              </label>
                                                                          </div>
                                                                          <label>Buscar</label>
                                                                      </li>
                                                                      <li>
                                                                          <div class="checkbox" style="display:inline-block;">
                                                                              <label>
                                                                                  <input type="checkbox" name="optionsCheckboxes">
                                                                              </label>
                                                                          </div>
                                                                          <label>Ver</label>
                                                                      </li>
                                                                      <li>
                                                                          <div class="checkbox" style="display:inline-block;">
                                                                              <label>
                                                                                  <input type="checkbox" name="optionsCheckboxes">
                                                                              </label>
                                                                          </div>
                                                                          <label>Imprimir</label>
                                                                      </li>
                                                                      <li>
                                                                          <div class="checkbox" style="display:inline-block;">
                                                                              <label>
                                                                                  <input type="checkbox" name="optionsCheckboxes">
                                                                              </label>
                                                                          </div>
                                                                          <label>Pre registrar - Integracion</label>
                                                                      </li>
                                                                      <li>
                                                                              <div class="checkbox" style="display:inline-block;">
                                                                                  <label>
                                                                                      <input type="checkbox" name="optionsCheckboxes">
                                                                                  </label>
                                                                              </div>
                                                                              <label>Guardar Borrador Pre registrar</label>
                                                                          </li>
                                                                  </ul>
                                                              </div>
                                                          </li>
                                                      
                                                  </ul>
                                            </div>    
                                      </div>
                                  </div>         
                              </div>
                              <div class="card">
                                      <h6 class=" card-header-text card-header" data-background-color="blue">
                                              <i class="fa fa-file-text" style="font-size:28px;color:#fff"></i>  
                                              <div class="checkbox" style="display:inline-block;">
                                                      <label>
                                                          <input type="checkbox" name="optionsCheckboxes">
                                                      </label>
                                              </div>
                                          HOJA DE ACEPTACIÓN</h6>
                                      <div class="row">
                                          <div class="col-md-10">
                                              <div class="card-content">
                                                      <ul class="list-unstyled ">
                                                          <li  class="col-md-5 col-md-offset-1" style="font-size:28px;color:#0079bf">
                                                              <div class="form-group">
                                                                  <div class="checkbox">
                                                                      <label>
                                                                          <input type="checkbox" name="optionsCheckboxes">COMPRADOR
                                                                      </label>
                                                                  </div>
                                                                  <ul>
                                                                      <li>
                                                                          <div class="checkbox" style="display:inline-block;">
                                                                              <label>
                                                                                  <input type="checkbox" name="optionsCheckboxes">
                                                                              </label>
                                                                          </div>
                                                                          <label>Buscar</label>
                                                                      </li>
                                                                      <li>
                                                                          <div class="checkbox" style="display:inline-block;">
                                                                              <label>
                                                                                  <input type="checkbox" name="optionsCheckboxes">
                                                                              </label>
                                                                          </div>
                                                                          <label>Ver</label>
                                                                      </li>
                                                                      <li>
                                                                          <div class="checkbox" style="display:inline-block;">
                                                                              <label>
                                                                                  <input type="checkbox" name="optionsCheckboxes">
                                                                              </label>
                                                                          </div>
                                                                          <label>Imprimir</label>
                                                                      </li>
                                                                  </ul>
                                                              </div>
                                                          </li>
              
                                                          <li  class="col-md-5" style="font-size:28px;color:#0079bf">
                                                                  <div class="form-group">
                                                                      <div class="checkbox">
                                                                          <label>
                                                                              <input type="checkbox" name="optionsCheckboxes">PROVEEDOR
                                                                          </label>
                                                                      </div>
                                                                      <ul>
                                                                          <li>
                                                                              <div class="checkbox" style="display:inline-block;">
                                                                                  <label>
                                                                                      <input type="checkbox" name="optionsCheckboxes">
                                                                                  </label>
                                                                              </div>
                                                                              <label>Buscar</label>
                                                                          </li>
                                                                          <li>
                                                                              <div class="checkbox" style="display:inline-block;">
                                                                                  <label>
                                                                                      <input type="checkbox" name="optionsCheckboxes">
                                                                                  </label>
                                                                              </div>
                                                                              <label>Ver</label>
                                                                          </li>
                                                                          <li>
                                                                              <div class="checkbox" style="display:inline-block;">
                                                                                  <label>
                                                                                      <input type="checkbox" name="optionsCheckboxes">
                                                                                  </label>
                                                                              </div>
                                                                              <label>Imprimir</label>
                                                                          </li>
                                                                      </ul>
                                                                  </div>
                                                              </li>
                                                          
                                                      </ul>
                                                </div>    
                                          </div>
                                      </div>         
                                  </div>
                                  <div class="card">
                                          <h6 class=" card-header-text card-header" data-background-color="blue">
                                                  <i class="fa fa-file-text" style="font-size:28px;color:#fff"></i>  
                                                  <div class="checkbox" style="display:inline-block;">
                                                          <label>
                                                              <input type="checkbox" name="optionsCheckboxes">
                                                          </label>
                                                  </div>
                                              COMPROBANTE DE PAGO</h6>
                                          <div class="row">
                                              <div class="col-md-10">
                                                  <div class="card-content">
                                                          <ul class="list-unstyled ">
                                                              <li  class="col-md-5 col-md-offset-1" style="font-size:28px;color:#0079bf">
                                                                  <div class="form-group">
                                                                      <div class="checkbox">
                                                                          <label>
                                                                              <input type="checkbox" name="optionsCheckboxes">COMPRADOR
                                                                          </label>
                                                                      </div>
                                                                      <ul>
                                                                          <li>
                                                                              <div class="checkbox" style="display:inline-block;">
                                                                                  <label>
                                                                                      <input type="checkbox" name="optionsCheckboxes">
                                                                                  </label>
                                                                              </div>
                                                                              <label>Buscar</label>
                                                                          </li>
                                                                          <li>
                                                                              <div class="checkbox" style="display:inline-block;">
                                                                                  <label>
                                                                                      <input type="checkbox" name="optionsCheckboxes">
                                                                                  </label>
                                                                              </div>
                                                                              <label>Ver</label>
                                                                          </li>
                                                                          <li>
                                                                              <div class="checkbox" style="display:inline-block;">
                                                                                  <label>
                                                                                      <input type="checkbox" name="optionsCheckboxes">
                                                                                  </label>
                                                                              </div>
                                                                              <label>Imprimir</label>
                                                                          </li>
                                                                      </ul>
                                                                  </div>
                                                              </li>
                  
                                                              <li  class="col-md-5" style="font-size:28px;color:#0079bf">
                                                                      <div class="form-group">
                                                                          <div class="checkbox">
                                                                              <label>
                                                                                  <input type="checkbox" name="optionsCheckboxes">PROVEEDOR
                                                                              </label>
                                                                          </div>
                                                                          <ul>
                                                                              <li>
                                                                                  <div class="checkbox" style="display:inline-block;">
                                                                                      <label>
                                                                                          <input type="checkbox" name="optionsCheckboxes">
                                                                                      </label>
                                                                                  </div>
                                                                                  <label>Buscar</label>
                                                                              </li>
                                                                              <li>
                                                                                  <div class="checkbox" style="display:inline-block;">
                                                                                      <label>
                                                                                          <input type="checkbox" name="optionsCheckboxes">
                                                                                      </label>
                                                                                  </div>
                                                                                  <label>Ver</label>
                                                                              </li>
                                                                              <li>
                                                                                  <div class="checkbox" style="display:inline-block;">
                                                                                      <label>
                                                                                          <input type="checkbox" name="optionsCheckboxes">
                                                                                      </label>
                                                                                  </div>
                                                                                  <label>Imprimir</label>
                                                                              </li>
                                                                          </ul>
                                                                      </div>
                                                                  </li>
                                                              
                                                          </ul>
                                                    </div>    
                                              </div>
                                          </div>         
                                      </div> 
                     <!--fin-->
                          <br><br><br>
                            <button class="btn btn-default left" (click)="crear();">Crear</button>
                            <button class="btn btn-default left">cancelar</button>
                            <button class="btn btn-default left">limpiar</button>
                           
              </div>
            </div>
        </div>
      </div>
      